body {
    font-family: Helvectica;
}

h1 {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");   
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;  
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;  
}

.brushes {
    background-color: mediumspringgreen;
}

.frames {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}

span {
    font-weight: bold;
    color: blue;
}
  

